@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-size: medium;
}
html {
  /* ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.7);
  } */

  scrollbar-width: none;
}

.saving-wrapper {
  --checkmark-height: 25px;
  --checkmark-width: calc(var(--checkmark-height) / 2);
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.saving-loader {
  position: relative;
  width: calc(var(--checkmark-height) * 1.66);
  height: calc(var(--checkmark-height) * 1.66);
  border: 5px solid transparent;
  border-left-color: rgba(0, 0, 0, 0.5);
  border-top-color: rgba(0, 0, 0, 0.5);
  border-bottom-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  animation: loader-spin 1s linear infinite;
}
.dark .saving-loader {
  border-color: white;
  border-left-color: hsl(0, 0%, 20%);
}
.save-completed {
  -webkit-animation: none;
  animation: none;
  border-color: rgba(0, 0, 0, 0.6);
  border-width: 4px;
}
.dark .save-completed {
  border-left-color: white;
}
.checkmark::after {
  position: absolute;
  content: "";
  height: var(--checkmark-height);
  width: var(--checkmark-width);
  left: calc(var(--checkmark-height) / 7);
  top: calc(var(--checkmark-height) / 1.2);
  opacity: 1;
  border-right: 4px solid green;
  border-top: 4px solid green;
  animation: checkmark 0.3s ease;
  transform-origin: left top;
  transform: scaleX(-1) rotate(135deg);
}
.dark .checkmark::after {
  border-color: greenyellow;
}
@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: var(--checkmark-width);
    opacity: 1;
  }
  100% {
    height: var(--checkmark-height);
    width: var(--checkmark-width);
    opacity: 1;
  }
}

.notification-box {
  position: fixed;
  right: min(0, calc(50vw - 250px));
  bottom: -100px;
  min-width: fit-content;
  width: 250px;
  max-width: 90%;
  background-color: white;
  text-align: center;
  padding: 15px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  transition: bottom 0.5s;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: calc(var(--fs-medium) * 1.25);
}
.notification-box.show {
  bottom: 30px;
}
.notification-box.success {
  color: green;
}
.notification-box.error {
  color: rgb(175, 0, 32);
}
.notification-box > img {
  width: 30px;
}

@media only screen and (max-width: 600px) {
  .notification-box {
    left: 50%;
    transform: translateX(-50%);
    width: 225px;
  }
}
